:root {
    --keyheight: 80px;

    --inner-border-color: #646464;
    --keycap-gradient-start: #646464;
    --keycap-gradient-end: #000;
    --keycap-text-color: white;
    --keycap-shadow-color: rgba(0,0,0,0.75);

    --keycap-padding: 0.1rem 0.5rem 0.5rem 0.1rem;
    --keycap-bigbig-padding: 0.3rem 0.5rem 0.5rem 0.3rem;

    --keycap-curve-radius: 15%;
    --keycap-bigbig-curve-radius: 10%;

    --keycap-top-size: 85%;

    --keycap-text-shadow-offset: 0.5px;
}

.key-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

span.key {
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;

    height: var(--keyheight);
    width: var(--keyheight);

    margin: 0.25rem 0.5rem;
    padding: var(--keycap-padding);

    border-radius: var(--keycap-curve-radius);

    background: linear-gradient(to bottom right, var(--keycap-gradient-start), var(--keycap-gradient-end));
}

span.key>span {
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;

    height: var(--keycap-top-size);
    width: var(--keycap-top-size);

    border-radius: var(--keycap-curve-radius);
    border: 1px solid var(--inner-border-color);

    background: linear-gradient(to top left, var(--keycap-gradient-start), var(--keycap-gradient-end));
    /* background: radial-gradient(circle, var(--keycap-gradient-start), var(--keycap-gradient-end)); */

    color: var(--keycap-text-color);
    text-shadow: var(--keycap-text-shadow-offset) var(--keycap-text-shadow-offset) var(--keycap-shadow-color);

    font-family: 'Segoe UI Symbol', 'Noto Sans', 'Apple Symbol', 'Arial Unicode MS', sans-serif;
    font-size: large;
    text-transform: uppercase;
}

html.macos-fonts span.key>span {
    font-family: 'Segoe UI Symbol', 'Noto Sans', 'Apple Symbol', 'Arial Unicode MS', 'Noto Sans Symbols', 'Noto Sans Symbols 2', sans-serif;
}

span.bigkey {
    width: calc(1.25*var(--keyheight));
}

span.bigkey>span {
    width: var(--keycap-top-size);
    text-transform: none;
}

span.bigbigkey {
    width: calc(2.25*var(--keyheight));
    padding: var(--keycap-bigbig-padding);

    border-radius: var(--keycap-bigbig-curve-radius);
}

span.bigbigkey>span {
    width: 95%;
    height: 95%;

    border-radius: var(--keycap-bigbig-curve-radius);

    text-transform: none;
}

img.keylogo {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 1em;
    height: 1em;
}

span.notransform>span {
    text-transform: none;
}

span.bold>span {
    font-weight: bold;
}
